<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Course Registration!</title>
    <link rel="stylesheet" type="text/css" href="/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <script src="D:\kalee\School\WebAppDev\Final Test\app.js"></script>
    <div class="wrapper">
        <form id="loginForm" method="POST" action="/login" autocomplete="off" onsubmit="storeUser()">
            <h1>Student Login</h1>
            <div class="input-box">
                 <label for="username"></label><input type="text" id="userInput" name="username" placeholder="Username" required><i class="bi bi-person-fill"></i>
            </div>

            <div class="input-box">
                <label for="password"></label><input type="password" name="password" placeholder="Password" name="password" required><i class="bi bi-lock-fill"></i>
            </div>

            <button type="submit" class="btn">Login</button>
            </form>

            <div class="register-link">
                <p>Don't have an account? <a href="/register">Sign up!</a></p>
            </div>

            <div class="register-link">
                <p>Not a student? <a href="/teacher_login">Teacher Login</a></p>
            </div>
    </div>

    <div class="content">

        <script>
            function storeUser(){
                var name = document.getElementById("userInput").value;
                window.localStorage.setItem("user", name);
            }
        </script>
        
    </div>
    
</body>
</html>