<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/login.css">
    <title>Document</title>
</head>
<body>
    <script src="D:\kalee\School\WebAppDev\Final Test\app.js"></script>
    <div class="wrapper">
    <h1> Sign up form </h1>

    <form action="/register" method="POST" onsubmit="window.alert('User Created!')">
        <div class="input-box">
        <input type="text" name="username" placeholder="Username" required>
        </div>
        <div class="input-box">
        <input type="password" name="password" placeholder="Password" required>
        </div>
        <div>
            <input type="checkbox" id="teacherValueBox" onclick="toggleInputBox()">
            <label for="teacherValueBox">I'm a teacher</label>

            <input type="text" id="teacherInputBox" name="teacherInputBox" style="display: none;" placeholder="Enter teacher key:">

            <script>
            function toggleInputBox() {
                var teacherValueBox = document.getElementById("teacherValueBox");
                var teacherInputBox = document.getElementById("teacherInputBox");

                if (teacherValueBox.checked == true){
                    teacherInputBox.style.display = "block";
                } else {
                    teacherInputBox.style.display = "none";
                }
            }

            if (teacherInputBox === 'pass') {
                teacherId = "Teacher"
            }
            </script>

        </div>
        <button class="btn">Submit</button>
    </form>

    <div>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
    </div>

</body>
</html>