<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/login.css">
    <title>Document</title>
</head>
<body>
    <script src="../app.js"></script>
    <div class="wrapper">
    <h1> Sign up form </h1>

    <form action="/register" autocomplete="off" method="POST">
        <div class="input-box">
        <input type="text" name="username" placeholder="Username">
        </div>
        
        <!-- added message popup if user enters a name that's already registered -->
        <div style="margin-bottom: 20px;"><% if (message && message.length > 0) { %>
                <p style="color: rgb(255, 255, 255);"><%= message %></p>
                <% } else { %>
                <p></p>
            <% } %></div>

        <div class="input-box">
        <input type="password" name="password" placeholder="Password">
        </div>
        <div>
            <input type="checkbox" id="teacherValueBox" onclick="toggleInputBox()">
            <label for="teacherValueBox">I'm a teacher</label>

            <input type="text" id="teacherInputBox" name="teacherInputBox" style="display: none;" placeholder="Enter teacher key:">

            <script>
            function toggleInputBox() {
                var teacherValueBox = document.getElementById("teacherValueBox");
                var teacherInputBox = document.getElementById("teacherInputBox");

                if (teacherValueBox.checked == true){
                    teacherInputBox.style.display = "block";
                } else {
                    teacherInputBox.style.display = "none";
                }
            }
            </script>

        </div>
        <button class="btn">Submit</button>
    </form>

    <div>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
    </div>

</body>
</html>