<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/login.css">
    <title>Document</title>
</head>
<body>
    <script src="D:\kalee\School\WebAppDev\Final Test\app.js"></script>
    <div class="wrapper">
    <h1> Sign up form </h1>

    <form action="/register" method="POST">
        <div class="input-box">
        <input type="text" name="username" placeholder="Username">
        </div>
        <div class="input-box">
        <input type="password" name="password" placeholder="Password">
        </div>
        <button class="btn">Submit</button>
    </form>

    <div>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
    </div>

</body>
</html>