* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background: url(assets/background.jpg) repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {   
    padding: 8px; 
    padding-bottom: 20px;
    text-align: center;
    flex-shrink:0;
    width: 420px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #8f8b8b;
}

.active {
  background-color: #0e4e1c;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

#title {
    margin: 5px;
    text-align: center;
    color: white;
    width: 404px;
    background-color: seagreen;
    padding: 8px;
    border-radius: 10px;
}

#courseList {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#course {
    margin: 30px;
    padding: 20px;
    background-color: #c9d431;
    border-radius: 10px;
    width: 300px;
    height: 275px;
    border-radius: 10px;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

#courseTitle {
  font-size: 20px;
  margin-bottom: 15px;
}

#course p {
  padding-bottom: 10px;
}

#buttons {
  margin-top: 15px;
  flex-direction: row;
  justify-content: space-evenly;
}

.btnAddDrop { 
  margin: 5px 15px;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 20px;
  font-size: 13px;
  background-color: white;

}

a {
  color: black;
  text-decoration: none;
}
